.header {
    border: solid aqua;
}

.main {
    border: solid rgb(145, 110, 65);
}

.drawing-tools {
    display: flex;

}

.controls {
    border: solid rgb(235, 93, 83);
    display: flex;
    flex-direction: column;
}

.tools {
    margin: 10px;
    padding: 0px;
    border-radius: 5px;
}

#color-picker {
    width: 60px;
    height: 60px;
    border: 0px;
    border-radius: 20px;
}

span {
    /* border: solid red; */
}

.canvas {
    border: solid rgb(221, 199, 170);
}

#slider {
    border: solid rgb(214, 171, 51);
}